#bpane{
	-fx-background-color: #F9F9F9;
}

#lpane{
	
	-fx-background-color: #4D4D4F;
}

#rpane{
	-fx-padding: 20,0,0,0;	
}

#userTopPane{
	-fx-background-color: #39393A;
	-fx-padding: 15,15,15,15;
}

#msg{
	-fx-background-radius: 30;
	-fx-fill: black;
	-fx-text-fill: white;	
	-fx-padding:5,3,5,3;
	-fx-font-family: "Segoe UI ";
	-fx-background-color: #1AAA24;
	-fx-font-size: 14;
	
}


#infoPane{
	
	
}

#convoname{
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: #606060;
	-fx-font-size:1.6em;
	
}

#msginfo{
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: #606060;
	-fx-font-size:0.8em;
}

#cTitle{
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: #F9F9F9;
	-fx-font-size:1.4em;
}

#convoMsg{
		-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: #F9F9F9;
	-fx-font-size: 0.9em;
	-fx-padding:3;
}

#convoBox{
	-fx-padding:5;
}


#settingsPane{
	-fx-padding:12;
}

#UserNameLabel{
	-fx-font-family:Arial Black, sans-serif;
	-fx-text-fill: #F9F9F9;
	-fx-font-size:1.7em;
	
	 -fx-font-family: "Segoe UI Semibold";
}

#userStatusLabel{
	-fx-font-family: "Segoe UI ";
	-fx-text-fill: white;
	-fx-text-font-size:1.1em;

	-fx-text-fill: #91ED57;
}

#topNamePane{
	fx-padding:10,10,10,10;
	fx-background-color: white;
}


#msgPane{
	padding:5,5,5,5;
}