#cTitle{
	-fx-font-family: "Roboto Bold";
	-fx-text-fill: gray;
	-fx-font-size:1.1em;
}

#cTitleNotif{
	-fx-font-family: "Roboto Medium";
	-fx-text-fill: #F9F9F9;
	-fx-text-fill: #424242;
	-fx-font-size:1.1em;
}

#expandUp{
	-fx-font-family: "Roboto ";
	-fx-text-fill:  white;
	-fx-font-size:0.85em;
	-fx-padding:1;
	-fx-background-radius: 10;
	-fx-background-color: #1AAA24;
	
}
#convoBoxSelected {
	-fx-padding: 3;
	-fx-background-color: rgba(26,170,36,0.4);
	-fx-background-radius: 5;
	
}


